.wrapper {
    width: 100%;
    min-height: 100vh;
    /*background: #a7a7a7;*/
}
.left-bar {
    display: inline-block;
    height: 100vh;
    width: 200px;
    background: #000;
    padding-top: 10vh;
}

.left-bar .card {
    margin-bottom: 2vh;
    display: block;
}

.ds-block {
    background: rgba(0,0,0,0.6);
    display: inline-block;
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    height: 100vh;
    text-align: center;
    position: relative;
    vertical-align: middle;
}
.ds-content {
    display: inline-block;
    background: #fff;
    vertical-align: middle;
    color: #999;
}
.ds-content.minimize {
    margin-top: 8.5vh;
    width: 30vw;
    height: calc( 30vw + 50px);
    height: -moz-calc( 30vw + 50px);
}
.ds-—Åontent svg {
    position: relative;
}
.pointer {
    cursor: pointer;
}
.color-white {
    color:#fff;
}
.greeting {
    padding-left: 30px;
    padding-top: 8.5vh;
}

svg .label.chart {
    /*visibility: hidden;*/
}
svg .label.chart:hover {
    visibility: visible;
}